@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Foldit:wght@400;500&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "AR One Sans", sans-serif;
}

/* Ensure the scrollbar is always visible */
html, body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

html::-webkit-scrollbar {
  width: 20px;
}
      
html::-webkit-scrollbar-track {
  border-radius: 8px;
  background-image: url("https://i.ibb.co/5150925/tracks.png");
  background-position: -5px;
  background-repeat: repeat-y;
  background-size: 50px;
}
      
html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: url("https://i.ibb.co/q95CBdZ/train.png");
  background-position: center center;
  background-repeat: repeat-y;
  background-size: 40px;
}
